In [33]:
from ipyleaflet import Map, basemaps, basemap_to_tiles, GeoData, Marker, MarkerCluster

In [21]:
import pandas as pd
import geopandas
import matplotlib.pyplot as plt
from geodatasets import get_path

In [24]:
df = pd.read_csv("bolig.csv.gzip", compression="gzip")
df.tail(3)

,estateId,address,zipCode,price,soldDate,propertyType,saleType,sqmPrice,rooms,size,...,change,guid,latitude,longitude,municipalityCode,estateCode,city,groupKey,canGetVR,bfEnr
99208,0,"Hørsholmsgade 8, 4. tv",2200,11947874,1992-01-06T23:00:00.000Z,3,Alm. Salg,225431.580,2.0,53,...,0.0,DA7226E2-F5C9-43D1-AEE6-F928CE45212E,55.690900,12.543945,101,260348,København N,1.0,True,6019808
99209,0,"Peter Fabers Gade 41, 2. th",2200,250000,1992-01-03T23:00:00.000Z,3,Alm. Salg,5000.000,2.0,50,...,0.0,D9388837-4672-4B9A-A1FE-C65BB6397DD8,55.691830,12.556379,101,436128,København N,NaN,True,146895
99210,0,"Øresundsvej 108, 1. tv",2300,351000,1992-01-02T23:00:00.000Z,3,Alm. Salg,5754.098,2.0,61,...,0.0,B18BD911-7FF3-4977-A46D-D324E247A543,55.661255,12.621660,101,661318,København S,NaN,True,133305

In [25]:
alm_salg_df = df[df['saleType'] == 'Alm. Salg']

In [29]:
gdf = geopandas.GeoDataFrame(
    alm_salg_df, geometry=geopandas.points_from_xy(alm_salg_df['longitude'],alm_salg_df['latitude']), crs="EPSG:4326"
)

In [30]:
gdf.iloc[:, -4:].tail(3)

       groupKey  canGetVR    bfEnr                   geometry
99208       1.0      True  6019808  POINT (12.54395 55.69090)
99209       NaN      True   146895  POINT (12.55638 55.69183)
99210       NaN      True   133305  POINT (12.62166 55.66125)

In [31]:
# gdf['geometry'] = geopandas.points_from_xy(gdf['longitude'], gdf['latitude'])
# gdf['geometry']

In [16]:
# Create a Map
m = Map(center=(55.6761, 12.5683), zoom=12)

# Assuming you have a valid GeoDataFrame 'gdf' with latitude and longitude columns
geo_data = GeoData(
    geo_dataframe=gdf,
    style={
        'color': 'black',
        'radius': 8,
        'fillColor': '#3366cc',
        'opacity': 0.5,
        'weight': 1.9,
        'dashArray': '2',
        'fillOpacity': 0.6
    },
    hover_style={'fillColor': 'red', 'fillOpacity': 0.2},
    point_style={
        'radius': 0.5,
        'color': 'red',
        'fillOpacity': 0.8,
        'fillColor': 'blue',
        'weight': 3
    },
    name='Release'
)

In [43]:
[Marker(center=, all dd for m in gdf[['longitude','latitude']].apply(lambda d: d["longi).tolist()[:5]]

       longitude   latitude
0      12.551123  55.684840
1      12.533304  55.693672
2      12.546504  55.679310
4      12.499296  55.672897
6      12.507760  55.681435
...          ...        ...
99206  12.543945  55.690900
99207  12.543945  55.690900
99208  12.543945  55.690900
99209  12.556379  55.691830
99210  12.621660  55.661255

[85613 rows x 2 columns]

In [37]:
marker_cluster = MarkerCluster(
    markers=()
)

TypeError: Marker.__init__() takes 1 positional argument but 2 were given

In [16]:
# Add the GeoData layer to the map
m.add_layer(geo_data)

# Display the map
m

Map(center=[55.6761, 12.5683], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…

Map(center=[55.6761, 12.5683], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zoom_in_title', 'zo…